<router-outlet></router-outlet>
<div class="slideshow-container">
        <img class="slides" src="https://images.bewakoof.com/banner/chino-pants-desktop-banner-1547541755.jpg" style="width:100%">

        <img class="slides" src="https://images.bewakoof.com/banner/16-1-dotd-banner-desktop-men-1547630632.jpg" style="width:100%">

        <img class="slides" src="https://images.bewakoof.com/banner/16-1-dotd-banner-desktop-women-1547630685.jpg" style="width:100%">

        <a class="prev" (click)="plusDivs(-1)">&#10094;</a>
        <a class="next" (click)="plusDivs(1)">&#10095;</a>
        <div style="text-align:center">
            <span class="dot" (click)="currentSlide(1)"></span> 
            <span class="dot" (click)="currentSlide(2)"></span> 
            <span class="dot" (click)="currentSlide(3)"></span> 
        </div>
        
</div> 
<a routerLink='/products'><img src="https://images.bewakoof.com/banner/cotm-build-up-under-slider-desktop-1546970738.jpg" style="width:100%;"></a>
        <h4>"You can have anything you want in life if you dress for it." —Edith Head</h4>
      <p><i>Fashion is part of the daily air and it changes all the time, with all the events. You can even see the approaching of a revolution in clothes. You can see and feel everything in clothes.</i></p>
<div class="container">
  <div class="colla"><h1>Collaborations</h1></div>
<section class="blocks">

    <article class="block">
        <a routerLink='/products'><img src="https://images.bewakoof.com/banner/avengers-collab-desktop-1548245272.jpg"></a>
      <div class="block-label">
          <h1>Avengers Collections</h1>
      </div>
    </article>
  
    <article class="block">
        <a routerLink='/products'><img src="https://images.bewakoof.com/banner/mtv-collab-desktop-1548245273.jpg"></a>
      <h1>MTV Collections</h1>
    </article>
  
    <article class="block">
        <a routerLink='/products'><img src="https://images.bewakoof.com/banner/disney-collab-desktop-1548245272.jpg"></a>
      <h1>Disney Collections</h1>
    </article>
  
    <article class="block">
        <a routerLink='/products'><img src="https://images.bewakoof.com/banner/wwe-collab-desktop-1548245275.jpg"></a>
      <h1>WWE Collections</h1>
    </article>
  
  </section>   
  <a routerLink='/products'><img width="100%" src= "https://images.bewakoof.com/banner/plains-desktop-1548247947.jpg?tr=w-1170"></a>
      
</div> 