<footer >
    <div class="navbar" id="foot">
        <a href="javascript:void(0);" class="icon" (click)="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
        <a  routerLink='/home'><b>Resources</b></a>
        <a  routerLink='/home'><b>Support</b></a>
        <a routerLink='/home'><b>Company</b></a>
    </div>
<div class="centered clearfix">
<div class="footer-contact">
  <h3><b>Contact Us</b></h3>
  <p><b>fashionista@gmail.com</b></p>
  <p><b>123-456-7890</b></p>
  <p><b>123 Fashion Street, FC Road, Pune 751024</b></p>
</div>

<div class="footer-navigation">
 <div class="footer-links-holder">
   <h3><b>Company</b></h3>
   <ul class="footer-links">
     <li><a href="">Get to know us</a></li>
     <li><a href="">Promos</a></li>
     <li><a href="">Become a retailer</a></li>
     <li><a href="">Events</a></li>
   </ul>
 </div>

 <div class="footer-links-holder">
   <h3><b>Resources</b></h3>
   <ul class="footer-links">
     <li><a href="">Site map</a></li>
     <li><a href="">Redeem code</a></li>
     <li><a href="">User templates</a></li>
     <li><a href="">Retailer templates</a></li>
   </ul>
 </div>

 <div class="footer-links-holder">
   <h3><b>Support</b></h3>
   <ul class="footer-links">
     <li><a href="">FAQ</a></li>
     <li><a href="">Store Locator</a></li>
     <li><a href="">Order Status</a></li>
     <li><a href="">New Users</a></li>
   </ul>
 </div>

</div>

  <section class="footer-social-section flex-rw">
      <span class="footer-social-overlap footer-social-connect">
          <b>Connect With Us</b></span>
    <span class="footer-social-overlap footer-social-icons-wrapper">
    <a href="https://www.facebook.com/paviliongift" class="generic-anchor" target="_blank" title="Facebook" itemprop="significantLink"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/PavilionGiftCo" class="generic-anchor" target="_blank" title="Twitter" itemprop="significantLink"><i class="fa fa-twitter"></i></a>
    <a href="http://instagram.com/paviliongiftcompany" class="generic-anchor" target="_blank" title="Instagram" itemprop="significantLink"><i class="fa fa-instagram"></i></a>
    <a href="https://www.youtube.com/channel/UCYgUODvd0qXbu_LkUWpTVEg" class="generic-anchor" target="_blank" title="Youtube" itemprop="significantLink"><i class="fa fa-youtube"></i></a>
    <a href="https://plus.google.com/+Paviliongift/posts" class="generic-anchor" target="_blank" title="Google Plus" itemprop="significantLink"><i class="fa fa-google-plus"></i></a>
    </span>
  </section>

  <div class="bottom-bar">
    All Rights Reserved © 2016 | <b>Privacy Policy</b> | <b>Terms of Service</b>
   </div>

</div>
</footer>

